<% include header %>
<div class="container">
  <h1>What's your ZIP code?</h1>
  <form id="form">
    <div class="input-group">
      <input name="zip" class="form-control" required>
      <span class = "input-group-btn">
          <button class = "btn btn-default" type="submit">
             Go!
          </button>
       </span>
    </div>
  </form>
</div>
<script src="/main.js"></script>
<% include footer %>
